.s-blur-5 {
    background-color: rgba(255, 255, 255,0.20);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.s-blur-10{
	background-color: rgba(255, 255, 255,0.40);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	-o-backdrop-filter: blur(10px);
	-ms-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

}
.s-blur-15{
	background-color: rgba(255, 255, 255,0.35);
	-webkit-backdrop-filter: blur(15px);
	-moz-backdrop-filter: blur(15px);
	-o-backdrop-filter: blur(15px);
	-ms-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
}
.s-blur-20{
	background-color: rgba(255, 255, 255,0.30);
	-webkit-backdrop-filter: blur(20px);
	-moz-backdrop-filter: blur(20px);
	-o-backdrop-filter: blur(20px);
	-ms-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}
.s-blur-25{
	background-color: rgba(255, 255, 255,0.30);
	-webkit-backdrop-filter: blur(25px);
	-moz-backdrop-filter: blur(25px);
	-o-backdrop-filter: blur(25px);
	-ms-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
}
.s-blur-30{
	background-color: rgba(255, 255, 255,0.30);
	-webkit-backdrop-filter: blur(30px);
	-moz-backdrop-filter: blur(30px);
	-o-backdrop-filter: blur(30px);
	-ms-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);

}
.s-blur-35{
	background-color: rgba(255, 255, 255,0.40);
	-webkit-backdrop-filter: blur(35px);
	-moz-backdrop-filter: blur(35px);
	-o-backdrop-filter: blur(35px);
	-ms-backdrop-filter: blur(35px);
	backdrop-filter: blur(35px);

}
.s-blur-40{
	background-color: rgba(255, 255, 255,0.50);
	-webkit-backdrop-filter: blur(40px);
	-moz-backdrop-filter: blur(40px);
	-o-backdrop-filter: blur(40px);
	-ms-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

}
.s-blur-45{
	background-color: rgba(255, 255, 255,0.60);
	-webkit-backdrop-filter: blur(45px);
	-moz-backdrop-filter: blur(45px);
	-o-backdrop-filter: blur(45px);
	-ms-backdrop-filter: blur(45px);
	backdrop-filter: blur(45px);

}
